/*FOOD STYLES BY MMc*/

body {
    color: #ccc;
    background-color: #444444;
}

a {
    color: #444;
    text-decoration: none;}

a:hover{color: white;}

.button-group .button {
    background-color: yellow; /* Green background */
    border: 1px solid green; /* Green border */
    margin: 10px;
    
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
        display: block; /* Make the buttons appear below each other */
  }
  
.button:hover {
    background-color: yellowgreen;
    color: #ccc!important;
    transition: .4s;
}

img {
    width: 50%;
    
}